<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>ABC Bank Queuing System</title>
  <link href="styles.css" rel="stylesheet">
  <head>
    <style>
      .branch-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 20px;
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      button {
        padding: 10px 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to ABC Bank</h1>
    <h2>Choose Your Preferred Branch</h2>
    <div style="display: flex; justify-content: space-between;">
      <div class="branch-card">
        <img src="hg.jpg" alt="Branch 1">
        <h3>Hougang</h3>
        <button onclick="window.location.href='queue-ticket-generation-branch1.html'">
          Generate Queue Ticket
        </button>
      </div>
      <div class="branch-card">
        <img src="je.png" alt="Branch 2">
        <h3>Jurong East</h3>
        <button onclick="window.location.href='queue-ticket-generation-branch2.html'">
          Generate Queue Ticket
        </button>
      </div>
      <div class="branch-card">
        <img src="jp.jpg" alt="Branch 3">
        <h3>Jurong Point</h3>
        <button onclick="window.location.href='queue-ticket-generation-branch3.html'">
          Generate Queue Ticket
        </button>
      </div>
      <div class="branch-card">
        <img src="kl.jpg" alt="Branch 4">
        <h3>Kuala Lumpur</h3>
        <button onclick="window.location.href='queue-ticket-generation-branch4.html'">
          Generate Queue Ticket
        </button>
      </div>
    </div>
  </body>
</html>