<!DOCTYPE html>
  <head>
    <title>Bank Counter</title>
  </head>
  <body>
    <font color="#008000",face="arial",size="3">
    <h3 align = "center">Business Bank Counter {}</h3>
    </font>
    <font size="3">
    <p align = "center">Current serving number:
      {% if q %}
        <span id="current_queue_no">{{q}}</span>
      {% else %}
        <span>not exist</span>
      {% endif %}
    </p>
    </font>
    <div style="text-align:center">
        <form action="" method="post" name="next">
            <button id="button1" name="button1" value="next">Next</button>
            <button id="button2" name="button2" value="skip">Skip</button>
        </form>
    </div>
    <script>

    </script>
  </body>
</html>