<!DOCTYPE html>
<html>
  <head>
    <title>ABC Bank Queuing System</title>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet">
    <title>Bank Counter</title>
  </head>
  <body>
    <h1 align = "center">{{branch_name}} {{type_of_business}}</h1>
    <h1 align = "center">Counter {{counter}}</h1>
    </font>
    <font size="3">
    <h2 align = "center">Current serving number:
      {% if q %}
        <span id="current_queue_no">{{q}}</span>
      {% else %}
        <span>not exist</span>
      {% endif %}
    </h2>
    </font>
    <div style="text-align:center">
        <form action="" method="post" name="next">
            <button id="button1" name="button1" value="next">Next</button>
            <button id="button2" name="button2" value="skip">Skip</button>
            <button id="button3" name="button3" value="stop">Stop</button>
        </form>
    </div>
    <script>

    </script>
  </body>
</html>