<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABC Bank Queuing System</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Add Missed Number Into Queue</h1>
        <ol>
        <li>Enter visit information:
            <ul>
                <li>Type of Banking:<br>
                        {% for k,v in business_dict.items() %}
                    <form action="" method="post">
                        <input type="radio" id="type_of_business" name="type_of_business" value="{{k}}">
                        <label for="{{k}}">{{v}}</label><br>
                        {% endfor %}
                </li>
                <li>Priority Banking?<br>
                    {% for k,v in priority_dict.items() %}
                    <form action="" method="post">
                        <input type="radio" name="priority" name="priority" value="{{k}}">
                        <label for="{{k}}">{{v}}</label><br>
                    {% endfor %}
                </li>
                <li>Please enter the missed number:<br>
                    <input type="number" name="missednum" name="missednum" value="{{y}}" >
                </li>
            </ul>
        </li>
        <li>Click the "Add" button below to add the number into waiting list.</li>
        </ol>
            <button id="getQbutton" name="getQbutton">Add</button>
    </body>
</html>