<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>ABC Bank CRO Display</title>
  <link href="styles.css" rel="stylesheet">
<head>
  <meta http-equiv="refresh" content="2;url={{url}}">
  <title>CRO Monitor Screen</title>
</head>
<body>
    <h1 align="center"> Queue Status</h1>
    <br>
  <table>
    <tr>
        <th colspan="2"> Private Banking </th>
    </tr>
    <tr>
      <th> Now Serving </th>
      <th> Counter </th>
    </tr>
    {% for k,v in current_serving_personal.items() %}
    <tr>
      <td>{{v}}</td>
      <td>{{k[-1:]}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="2"> Waiting Queue </th>
    </tr>
    <tr>
      <td>Private Normal</td>
      <td>{% for x1 in personal_normal_waiting %}{{x1}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
      <td>Private Priority</td>
      <td>{% for x2 in personal_priority_waiting %}{{x2}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    
    <tr>
      <th colspan="2"> Missed Queue Numbers </th>
  </tr>
    <tr>
      <td colspan="2">{% for x in personal_skipped %}{{x}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
      </table>
<br><br>

  <table>
    <tr>
        <th colspan="2"> Corporate Banking </th>
    </tr>
    <tr>
      <th> Now Serving </th>
      <th> Counter </th>
    </tr>
    {% for k,v in current_serving_business.items() %}
    <tr>
      <td>{{v}}</td>
      <td>{{k[-1:]}}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="2"> Waiting Queue </th>
    </tr>
    <tr>
      <td>Business</td>
      <td>{% for x3 in business_normal_waiting %}{{x3}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    <tr>
      <th colspan="2"> Missed Queue Numbers </th>
  </tr>
  <tr>
      <td colspan="2">{% for x in business_skipped %}{{x}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
  </tr>
  </table>
<br><br>
<h1 align = "center">System Status: {{system_status}}</h1>
<div style="text-align:center">
  <form action="" method="post" name="next">
    <button id="button1" name="button1" value="terminateService">Terminate Service</button>
    <button id="button2" name="button2" value="reinitiateService">Reinitiate Service</button>
  </form>
</div>
</body>
</html>