<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABC Bank Queuing System</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>Generate your Queue Number</h1>
        <h2>Welcome to ABC Banks. Please follow the steps below to enter to obtain your queue number:</h2>
        <ol>
        <li>Enter visit information:
            <ul>
                <li>Type of Banking:<br>
                        {% for k,v in business_dict.items() %}
                        <form action="" method="post">
                            <input type="radio" id="type_of_business" name="type_of_business" value="{{k}}">
                            <label for="{{k}}">{{v}}</label><br>
                        {% endfor %}
                </li>
                <li>Priority Banking?<br>
                    {% for k,v in priority_dict.items() %}
                     <form action="" method="post">
                        <input type="radio" name="priority" name="priority" value="{{k}}">
                        <label for="{{k}}">{{v}}</label><br>
                    {% endfor %}
                </li>
            </ul>
        </li>
        <li>Click the "Get Queue Number" button below to receive your queue number.</li>
        </ol>
            <button id="getQbutton" name="getQbutton">Get Queue Number</button>
    </body>
</html>