<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>ABC Bank Queuing System</title>
  <link href="styles.css" rel="stylesheet">
<head>
  <meta http-equiv="refresh" content="2;url={{url}}">
  <title>Queue Number On Monitor Screen</title>
</head>
<body>
  <h1 align = "center">Add in Queue Status: {{system_status}}</h1>  
  <h1 align="center"> It is now calling for the queue number:</h1>
    <br>
  <table>
    <tr>
        <th colspan="2"> Private Banking </th>
    </tr>
    <tr>
      <th> Now Serving </th>
      <th> Counter </th>
    </tr>
    {% for k,v in current_serving_personal.items() %}
    <tr>
      <td>{{v}}</td>
      <td>{{k[-1:]}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="2"> Missed Queue Numbers </th>
    </tr>
    <tr>
      <td colspan="2">{% for x in personal_skipped %}{{x}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
      </table>
<br><br>

  <table>
    <tr>
        <th colspan="2"> Corporate Banking </th>
    </tr>
    <tr>
      <th> Now Serving </th>
      <th> Counter </th>
    </tr>
    {% for k,v in current_serving_business.items() %}
    <tr>
      <td>{{v}}</td>
      <td>{{k[-1:]}}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="2"> Missed Queue Numbers </th>
  </tr>
  <tr>
      <td colspan="2">{% for x in business_skipped %}{{x}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
  </tr>
  </table>
<br><br>
</body>
</html>
