<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABC Bank Queuing System</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
            <h1 align = "center">Queue Report</h1>
            <h3 align = "center">Your Queue Number: <span id="q_number" name="q_number">{{q_number}}</span></h3>
            <h3 align = "center">Your Business Type: <span class="op" id="type_of_business" name="type_of_business">{{type_of_business}}</span></h3>
            <h3 align = "center">Your Branch: <span class="op2" id="branch" name="branch">{{branch}}</span></h3>
</body>
</html>