<!DOCTYPE html>
<html>
    <head>
        <meta charset
    </head>
    <body>
        <font color = "Black">
            <h1 align = "center">
                Queuing Numbering System
            </h1>
        </font>
        <h2 align = "center">Welcome to ABC Bank. Please follow the steps below to enter your details and get your queue number:</h2>
        <ol>
        <li>Enter your personal information:
            <ul>
                <li>Type of business:
                    <select id="type_of_business">
                        {% for k,v in business_dict.items() %}
                        <option value={{v}}>{{v}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>Branch you are going to:
                    <select id="branch">
                        {% for k,v in branch_dict.items() %}
                        <option value={{v}}>{{v}}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </li>
        <li>Click the "Get Q Number" button to receive your q number.</li>
        </ol>
            <button id = "getQbutton" name = "getQbutton" >Get Q Number</button>

    </body>
</html>