@app.route('/getq/mobile', methods=['GET','POST'])
def get_q_mobile():
    global dict_all

    if request.method == 'POST':
        type_of_business = request.form.get('type_of_business')
        priority = request.form.get('priority')
        branch = request.form.get('branch')
        checkstat = request.form.get("checkStat")

        if checkstat == "checkStat":
            return render_template('branch_status.html')
    
        if type_of_business is not None and priority is not None and branch is not None:
            current_assigned_queue_no = assign_queue_no_to_queue(branch, type_of_business, priority)
            type_of_business = business_dict[type_of_business]
            branch = branch_dict[branch]
            return render_template('queue_generated.html', q_number=current_assigned_queue_no, type_of_business=type_of_business, branch=branch)
        else:  #if user doesn't select all value, prompt user to input all required information
            return render_template('queue_gen_fail.html')
    return render_template('mobile_queue_gen.html', avaliable_branch_dict=avaliable_branch_dict, business_dict=business_dict, priority_dict=priority_dict)